body{
	background-color:lavenderblush;
}
h1{
  text-align: center;
  color: hotpink;
  text-decoration: underline;
}
h2{
	text-align: center;
	color: deeppink;
}
h3{
	color: purple;
	background-color: pink;
	width: 1685px;
	border: 25px solid plum;
	padding: 50px;
	margin: 20px;
}
p{
	color: MediumVioletRed;
	font-size: 20px;
	
}
a:link {
  color: purple;
}
a:hover {
  color: hotpink;
}
a:active {
	color: darkorchid
}
img{
	width:500px;
}
#name{
	font-size:35px;
}
h3::first-letter {
  color: mediumvioletred;
  font-size: xx-large;
}
.bowldiv{
	float:left;
}
.tylerdiv{
	float:right;
}
