body{
	background-color: #f0c0cd;
}
h1{
  text-align: center;
  color: hotpink;
  text-decoration: underline;
}
h2{
	text-align: center;
	color: deeppink;
}
h3{
	color: purple;
	background-color: pink;
	width: 90%;
	max-width: 1600px;
	border: 25px solid plum;
	padding: 50px;
	margin: 20px auto;
}
p{
	color: MediumVioletRed;
	font-size: 20px;
	
}
a:link {
  color: purple;
}
a:hover {
  color: hotpink;
}
a:active {
	color: darkorchid
}
img{
	width:500px;
	border:5px solid #82144e;
}
#name{
	font-size:35px;
}
h3::first-letter {
  color: mediumvioletred;
  font-size: xx-large;
}
.bowltylerflex{
	display: flex;
	justify-content: space-around;
}
.hardrollingflex{
	display: flex;
	justify-content: space-around;
}
.tamebloodflex{
	display: flex;
	justify-content: space-around;
}
#disclosureid{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

